@import "tailwindcss";
.input {
  @apply w-full px-4 py-3 rounded-xl 
  bg-white/90 
  text-slate-800 
  placeholder-slate-400 
  outline-none 
  border border-slate-200 
  focus:border-indigo-500 
  focus:ring-2 focus:ring-indigo-300 
  transition;
}

.btn-primary {
  @apply w-full py-3 rounded-xl font-semibold 
  text-white 
  bg-gradient-to-r from-indigo-500 to-purple-500 
  hover:from-indigo-600 hover:to-purple-600 
  transition-all;
}
html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.btn-small {
  @apply px-4 py-2 rounded-lg text-sm font-medium text-white
  bg-gradient-to-r from-indigo-500 to-purple-500
  hover:from-indigo-600 hover:to-purple-600 transition;
}
